:root {
    --prim-color: #FAF352;
    --important-color: #5295F1;
    --sec-color: white;
    --main-border-style: 1px solid var(--prim-color);
    --strong-border-style: 5px solid var(--prim-color);
}

body {
    background-color: var(--sec-color);
}

div#wrapper {
    width: 700px;
    border: var(--main-border-style);
    padding: 0px;
    margin: 0px;
}

div#box-model {
    width: 250px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: var(--strong-border-style);
}

.input-require::after {
    content: '* Required';
    color: var(--prim-color);
}

.input-required::after {
    content: '*';
    color: var(--important-color);
}

input:focus {
    border: 2px solid var(--prim-color);
}

a:hover {
    border: 2px solid var(--sec-color);
}

input[type="text"] {
    border: 1px solid black;
}

span, h1 {
    line-height: 2px;
}

h1 {
    color: #cf9623;
    text-align: center;
}

.required {
    color: var(--prim-color);
}

input.required {
    border: 2px solid var(--prim-color);
}

div.form-general-info span.required {
    color: blue;
}

input[type^="ph"] {
    font-size: 20px;
}

ul > li > a {
    color: var(--prim-color);
    text-decoration: none;
}

div#wrapper p::first-letter {
    color: var(--important-color);
    font-size: 40px;
}

div#wrapper p::selection {
    color: inherit;
    font-size: 40px;
}

div#wrapper p::after {
    content: "...continuará";
}

div#wrapper p::before {
    content: "Había una vez...";
    color: var(--prim-color);
}

@media only screen and (max-width: 600px) {
    :root {
        --prim-color: rgb(80, 231, 80);
    }
}
