:root {
    --primary-color: #76b5f4;
    --important-color: #e34529;
    --secondary-color: white;
    --main-border-style: 5px solid var(--primary-color);
    --strong-border-style: 5px solid var(--primary-color);
}

body {
    background-color: var(--secondary-color);
}

span, h1 {
    line-height: 5px;
}

h1 {
    color: #dd87f5;
    text-align: center;
    margin-top: 30px; /* Ajusta este valor para separar más el texto de las imágenes */
}

img {
    margin-bottom: 150px /* Ajusta este valor para separar más las imágenes del texto */
}
