:root {
    --primary-color: #76b5f4;
    --important-color: #e34529;
    --secondary-color: white;
    --main-border-style: 5px solid var(--primary-color);
    --strong-border-style: 5px solid var(--primary-color);
}

body {
    background-color: var(--secondary-color);
}

span, h1 {
    line-height: 5px;
}

h1 {
    color: #dd87f5;
    text-align: center;
    margin-top: 80px; /* Ajusta este valor para separar más el texto de las imágenes */
}

/* Estilo para las imágenes */
img {
    width: 200px; /* Ancho fijo para las imágenes */
    height: 200px; /* Altura fija para las imágenes */
    margin-bottom: 50px; /* Margen inferior para separar las imágenes del texto */
    object-fit: cover; /* Asegura que la imagen cubra el área de la caja manteniendo el aspecto */
}
