body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    width: 400px;
    padding: 40px;
    position: relative;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.google-login {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.google-login {
    background-color: #357ae8;
}

form {
    display: flex;
    flex-direction: column;
}

.textbox {
    position: relative;
    margin-bottom: 20px;
    display: flex; /* Modificación */
}

.textbox input {
    flex: 1; /* Modificación */
    padding: 10px;
    background: #f4f4f4;
    border: none;
    outline: none;
    font-size: 16px;
}

.textbox input:first-child {
    margin-right: 10px; /* Espacio entre los campos First Name y Last Name */
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #555;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a {
    text-decoration: underline;
}

footer p {
    margin: 0;
    color: #888;
}
